<ion-header>
  <ion-navbar hideBackButton>
      <ion-row>
          <ion-col col-1>
              <ion-icon name="md-arrow-round-back" style="font-size: 1.7em;color: white;" (click)="home()"></ion-icon>
            </ion-col>
        <ion-col col-10>
          <ion-title class="centerali">Loyalty Sales</ion-title>
        </ion-col>
        <ion-col col-1>
          <button ion-button float-right menuToggle icon-only style="display: block !important;">
            <ion-icon name='menu'></ion-icon>
          </button>
        </ion-col>
        </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding="true" overflow-scroll="false" has-bouncing="false">

  <ion-row>
    <div class="container" style="z-index: 1000;">
      <ion-row>
        <ion-col col-12>
          <input  type="text" style="width: 99%;height:99%;" placeholder=" Search Mobile No" class="validate filter-input input-reg"
            [(ngModel)]=query (keyup)=filter()>
        </ion-col>
      </ion-row>
      <div class="" *ngIf="query.length > 0">
        <ul *ngFor="let item of driversList">
          <li *ngIf="query.length > 2">
            <a (click)="select(item)">{{item}}</a>
          </li>
        </ul>
      </div>
      <div  style="color:red;" *ngIf="showEmpty">
        Sorry No Vehicles founds!!!
     </div>
    </div>
  </ion-row>
  <ion-card *ngIf="selectp">
    <ion-card-content>
      
        <ion-row>
          <ion-col col-6>
            Name:
          </ion-col>
          <ion-col col-6 text-capitilize>
            {{selectList.name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Mobile No:
          </ion-col>
          <ion-col col-6>
            {{selectList.driverMobileNo}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
           Vehicle Reg.No
          </ion-col>
          <ion-col col-6>
            {{selectList.vehicleNo}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Total Earned Points:
          </ion-col>
          <ion-col col-6>
            {{selectList.totalPoints}}
          </ion-col>
        </ion-row>
      
    </ion-card-content>
  </ion-card>

    <ion-card  *ngIf="selectp">
      <ion-card-content>
        
            <form novalidate [formGroup]="user">
          <ion-row style="color:red;">
            <ion-col col-6>
              Select Nozzle
            </ion-col>
            <ion-col col-6>
              <ion-select [(ngModel)]="noozle" formControlName="nozzle" class="form-control" #reqNoozle (ionChange)="selectNozzleList(reqNoozle.value)">
                <ion-option *ngFor="let prod1 of nozzleList;let i = index" [value]="prod1">
                  {{prod1.machineName}}[{{prod1.name}}]
                </ion-option>
              </ion-select>
              <ion-item no-lines *ngIf="( user.get('nozzle').hasError('required') ) && user.get('nozzle').touched">
                <div class="error" *ngIf="user.get('nozzle').hasError('required') && user.get('nozzle').touched">
                  *Select nozzle is required.
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf=showProductboolean>
              <ion-col col-6>
                 Fuel Type:
                </ion-col>
                <ion-col col-6>
                  {{productName}}
                  </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              Fuel Actual:
            </ion-col>
            <ion-col col-6>
              <ion-input type="number" (change)='onChangeTime($event.target.value)' step="0.01" (input)="onInputTime($event.target.value)" placeholder="Enter Fuel Qty. in LTR"
                [(ngModel)]="cashsale.quantity" formControlName="quantity" class="form-control"></ion-input>
            </ion-col>
            <ion-item no-lines *ngIf="(  user.get('quantity').hasError('required') ) && user.get('quantity').touched">
              <div class="error" *ngIf="user.get('quantity').hasError('required') && user.get('quantity').touched">
                *Fuel Quantity is required.
              </div>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              Invoice No.:
            </ion-col>
            <ion-col col-6>
              <ion-input type="number" formControlName="invoiceNo" class="form-control" [(ngModel)]="cashsale.invoiceNo"></ion-input>
              <ion-item no-lines *ngIf="( user.get('invoiceNo').hasError('required') ) && user.get('invoiceNo').touched">
                <div class="error" *ngIf="user.get('invoiceNo').hasError('required') && user.get('invoiceNo').touched">
                  *Invoice No. is required.
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              Amount:
            </ion-col>
            <ion-col col-6>
              <ion-input type="number" (change)='onChangeAmount($event.target.value)' step="0.01" (input)="onInputTime($event.target.value)" placeholder="Amount"
                [(ngModel)]="cashsale.amount" formControlName="amount" class="form-control"></ion-input>
              <!-- <ion-input type="text" [(ngModel)]="cashsale.amount"></ion-input> -->
              <ion-item no-lines *ngIf="(user.get('amount').hasError('required') ) && user.get('amount').touched">
                <div class="error" *ngIf="user.get('amount').hasError('required') && user.get('amount').touched">
                  *Amount is required.
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              Select Paymode
            </ion-col>
            <ion-col col-6>
              <ion-select [(ngModel)]="paymode" formControlName="paymode" class="form-control" #reqFuel1 (ionChange)="selectPaymodeList(reqFuel1.value)">
                <ion-option *ngFor="let prod of paymodeList;let i = index" [value]="prod.id">
                  {{prod.name}}
                </ion-option>
              </ion-select>
              <ion-item no-lines *ngIf="(user.get('paymode').hasError('required') ) && user.get('paymode').touched">
                <div class="error" *ngIf="user.get('paymode').hasError('required') && user.get('paymode').touched">
                  *Paymode is required.
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </form>
          <ion-row>
            <ion-col col-6>
              Vehicle Changed
            </ion-col>
            <ion-col col-6>
              <ion-checkbox [(ngModel)]="cb_vehicelchanged"  (ionChange)="vehcileChanged()"></ion-checkbox>
            </ion-col>
           </ion-row>
           <form novalidate [formGroup]="other">
           <ion-row  *ngIf="hideTakePhotoButton">
            <ion-col col-6>
              Vehicle No:
            </ion-col>
            <ion-col col-6>
              <ion-input type="text" [(ngModel)]="cashsale.vehicleNo" formControlName="vehicleNo" class="form-control"></ion-input>
              <!-- <ion-input type="text" [(ngModel)]="cashsale.amount"></ion-input> -->
              <ion-item text-wrap no-lines *ngIf="( other.get('vehicleNo').hasError('pattern')  || other.get('vehicleNo').hasError('maxlength')|| other.get('vehicleNo').hasError('required') ) && other.get('vehicleNo').touched">
                <div class="error" *ngIf="other.get('vehicleNo').hasError('required') && other.get('vehicleNo').touched">
                  *Vehicle number required.
                </div>
                <div class="error" *ngIf="other.get('vehicleNo').hasError('pattern') && other.get('vehicleNo').touched">
                  *Vehicle number must be valid.
                </div>
                <div class="error" *ngIf="other.get('vehicleNo').hasError('maxlength') && other.get('vehicleNo').touched">
                  *Vehicle number must be valid.
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          </form>
          <ion-row>
            <button ion-button (click)="takePhoto()" *ngIf="hideTakePhotoButton" full color="primary">Take Photo</button>
            <div text-center>
              <img src="{{myphoto}}">
            </div>
            <button ion-button (click)="uploadImage()" *ngIf="hideTakePhotoButton" full color="dark">Upload Image</button>
          </ion-row>
        
      </ion-card-content>
    </ion-card>

  <ion-row  *ngIf="selectp">
    <ion-col col-12>
      <button ion-button full color="primary" (click)="addCashSale()">
        Submit
      </button>
    </ion-col>
  </ion-row>
</ion-content>